<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "QC Test App")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
</head>
<body ng-app="app">
  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="navbar" role="banner" ng-if=" !layout ">
    @* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="~/Images/brand-logo.png" class="nav-bar-logo" />
        <a href="/" class="navbar-brand">QC Test Shopping App</a>
      </div>
      <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/cart"><i class="fa fa-shopping-cart fa-lg"></i>Cart</a>
          </li>
          <li>
            <a href="/wishlists"><i class="fa fa-heart fa-lg"></i>Wishlists</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-nav-right">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contacts">Contacts</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-nav-right">
          <li>
            <a href="/login">Sign In</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container" ng-controller="AccordionCntrl">
    <div id="accordian" style="float: left">
      <ul>
        <li>
          <h3 ng-click="expandAccordion()"><i class="fa fa-cutlery fa-lg"></i>Furniture</h3>
          <ul>
            <li><a href="/items/tables">Tables</a></li>
            <li><a href="/items/chairs">Chairs</a></li>
            <li><a href="/items/couches">Couches</a></li>
            <li><a href="/items/fridges">Fridges</a></li>
          </ul>
        </li>
        <li class="active">
          <h3><i class="fa fa-phone fa-lg"></i>Electronics</h3>
          <ul>
            <li><a href="/items/computers">Computers</a></li>
            <li><a href="/items/appliances">Appliances</a></li>
            <li><a href="/items/televisions">Televisions</a></li>
            <li><a href="/items/radios">Audio</a></li>
          </ul>
        </li>
        <li>
          <h3><i class="fa fa-fire fa-lg"></i>Outdoor</h3>
          <ul>
            <li><a href="/items/tents">Tents</a></li>
            <li><a href="/items/hiking">Hiking</a></li>
            <li><a href="/items/cycling">Cycling</a></li>
            <li><a href="/items/running">Running</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
    @RenderBody()
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
  @Scripts.Render("~/js/app")
  @*
    Google Analytics
    ----------------
    Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
    script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
    the max number of simultaneous connections of the browser.
    https://developers.google.com/analytics/devguides/collection/analyticsjs/
  *@
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
  </script>
  @RenderSection("Scripts", false)
  @RenderSection("Styles", false)
</body>



</html>